<h2>THIS IS THE VIDEOS INDEX</h2>

<% @videos.each do |video| %>
  <%= video_tag(video.video.url, controls: true) %>
<% end %>

<%= will_paginate @posts %>

<%= link_to "upload a new one!", :new_video %>