<class class="video">
  <h3 class="video-title">
    <%= @video.title %>
  </h3>

  <div class="video-details">
    <span> length: <%= @video.length_in_seconds %> seconds </span>
    <br>
    <span> format: <%= @video.video_content_type %> </span>
  </div>

  <%= video_tag(@video.video.url, controls: true) %>
</class>
