/* header styles */

body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Reem Kufi', sans-serif;
}

.wrapper {
  min-height: 100vh;
}

.footer-space-filler {
  height: 1.5em;
  clear: both;
  position: bottom;
}

.footer {
  height: 1.5em;
  clear: both;
  position: bottom;
  margin-top: -1.5em;  /* must be equal to height * -1 */
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  border-bottom: 10px solid black;
}

.title {
  margin: 0;
  font-size: 4em;
  display: inline-block;
  padding-bottom: .1em;
}

.cool-title-bracket {
  font-size: 1.2em;
  color: #1919d6;
}

nav {
  display: inline-block;
  padding-left: 1em;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
  padding: 0 1em 0 1em;
}

.body-content {
  text-align: center;
}

/* new page */

.new_video {
  width: 200px;
  margin: auto;
}

.video-title-field {
  height: 3em;
  display: block;
  margin: auto;
}

.video-title-field::-webkit-input-placeholder {
  font-size: 2em;
  font-family: 'Reem Kufi', sans-serif;
}

.video-title-field::-moz-placeholder {
  font-size: 2em;
  font-family: 'Reem Kufi', sans-serif;
}

.progress {
  width: 100%;
}

.progress .bar {
  height: 15px;
  background-color: black
}

.progress .remaining-seconds {
  display: none;
}

.errors {
  padding: 0;
  display: none;
  list-style: none;
  color: red;
}

.video-title {
  display: block;
}

#submit-video {
  font-size: 2em;
}