.progress {
  width: 150px;
}

.progress .bar {
  height: 10px;
  background-color: blue
}

.progress .remaining-seconds {
  display: none;
}

.errors {
  display: none;
}

.video-title {
  display: block;
}