/* header styles */

body {
  padding: 0;
  margin: 0;
  color: black;
  font-family: 'Open Sans';
}

.wrapper {
  min-height: 100vh;
}

.footer-space-filler {
  height: 1.5em;
  clear: both;
  position: bottom;
}

.footer {
  height: 1.5em;
  clear: both;
  position: bottom;
  margin-top: -1.5em;  /* must be equal to height * -1 */
  text-align: center;
}

.header {
  position: relative;
  width: 100%;
  border-bottom: 10px solid black;
}

.title {
  margin: 0;
  font-size: 4em;
  display: inline-block;
  padding-bottom: .1em;
}

.cool-title-bracket {
  font-size: 1.2em;
  color: #1919d6;
}

nav {
  display: inline-block;
  padding-left: 1em;
}

nav a {
  font-size: 1.5em;
  text-decoration: none;
  padding: 0 1em 0 1em;
}


/* new page */

.progress {
  width: 150px;
}

.progress .bar {
  height: 10px;
  background-color: blue
}

.progress .remaining-seconds {
  display: none;
}

.errors {
  display: none;
}

.video-title {
  display: block;
}